{% extends "admin/index.html" %} {% block content %}
<form method="post">
  {% csrf_token %}
  <br />
  <input type="submit" name="cron_name" value="update_currencies" />
</form>

<form method="post">
  {% csrf_token %}
  <br />
  <input type="submit" name="cron_name" value="update_utc_ent" />
</form>

<form method="post">
  {% csrf_token %}
  <br />
  <input type="submit" name="cron_name" value="update_extra_denormalization" />
</form>

<form method="post">
  {% csrf_token %}
  <br />
  <input type="submit" name="cron_name" value="clear_and_clean_sessions" />
</form>

<form method="post">
  {% csrf_token %}
  <br />
  <input type="submit" name="cron_name" value="update_daily_stats" />
</form>
{% endblock %}
