.mapboxgl-map {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  background: transparent !important;
}
